#tblStyleHelp td{
  padding:10px;
  background-color:beige;
}
.helpTbl {
  background-color:white;
  border-spacing:4px;
  font-family:monospace;
  font-size:10pt; 
}
.helpTblCellSpacer{
  background-color:none;
}
#colSpacer {
  width: 50px;
}
  

