.helpTblCell {
  padding:10px;
  background-color:beige;
}
.helpTbl {
  background-color:lightgrey;
  border-spacing:4px;
  font-family:monospace;
  font-size:10pt; 
}
.helpTblCellSpacer{
  background-color:lightgray;
  width: 50px;
}
  

