.SpreadsheetRow--withShadedBackground.DraggableSpreadsheetTaskRow--withShadedBackground > div > div { 
  background-color:darkgreen;
}
.SpreadsheetRow--withShadedBackground > div > div > div.DragHandle {
  background-color:darkgreen;
}
/*.SpreadsheetRow--withShadedBackground > div > div {   //this is preventing BLUE BACKGROUND ON SELECTED & EDITABLE CELL
  background-color:darkgreen;
}
*/
/* #highlightedCell > div.ProjectSpreadsheetGridRow-subtaskToggleButtonPlaceholder { */
.SpreadsheetCell--isHighlighted {
  background-color:darkgreen;  
}
/*
SpreadsheetCell--isCompact SpreadsheetCell--isHighlighted SpreadsheetCell--withShadedBackground SpreadsheetCell--withoutLeftBorder SpreadsheetCell SpreadsheetGridTaskNameCell--rainbow SpreadsheetGridTaskNameCell SpreadsheetTaskRow-nameCell
*/
/* below is the key style to make CURRENT EDITABLE STICKY CELL the correct background color */
.SpreadsheetCell--isCompact.SpreadsheetCell--isHighlighted.SpreadsheetCell--withShadedBackground.SpreadsheetCell--withoutLeftBorder.SpreadsheetCell.SpreadsheetGridTaskNameCell--rainbow.SpreadsheetGridTaskNameCell.SpreadsheetTaskRow-nameCell {
  background-color:darkgreen;  
}
/* .SpreadsheetRow--withShadedBackground > div > div > span.SpreadsheetGridTaskNameCell-rowNumber {
  background-color:darkgreen;
  height: 100%;
  position: relative;
  top: 6px;
  vertical-align:text-bottom;
} */
.SpreadsheetRow--withShadedBackground > div > div > div.ProjectSpreadsheetGridRow-subtaskToggleButtonPlaceholder {
  background-color:darkgreen;
  width: 30px;
}
.SpreadsheetRow--withShadedBackground > div > div > div.TaskRowCompletionStatus {
  background-color:darkgreen;
}
/* .SpreadsheetRow--withShadedBackground.DraggableSpreadsheetTaskRow--withShadedBackground .SpreadsheetRow-stickyCell {
  background-color:yellow;
}
.SpreadsheetRow--withShadedBackground.DraggableSpreadsheetTaskRow--withShadedBackground > .SpreadsheetRow-stickyCellPlaceholder {
  background-color:yellow;
} */

/* 
#asana_main_page > div.ProjectPage > div.ProjectPage-list > div > div > div > div.FullWidthPageStructureWithDetailsOverlay-mainContent > div.SpreadsheetGridScroller-container > div.Scrollable--withCompositingLayer.Scrollable.Scrollable--vertical.SpreadsheetGridScroller-verticalScroller > div > div.is-compactMode.SpreadsheetGridContents--hasComplete.SpreadsheetGridContents.SpreadsheetPotGridContents > div:nth-child(1) > div > div > div > div:nth-child(2) > div > div.SpreadsheetTaskList.SpreadsheetTaskList--withRowNumbers.SpreadsheetPotGridContents-taskList > div:nth-child(3)
.SpreadsheetTaskName--childFocused { 
*/
/* 
#asana_main_page > 
  div.ProjectPage > 
  div.ProjectPage-list > 
  div > div > div > 
  div.FullWidthPageStructureWithDetailsOverlay-mainContent > 
  div.SpreadsheetGridScroller-container > 
  div.Scrollable--withCompositingLayer.Scrollable.Scrollable--vertical.SpreadsheetGridScroller-verticalScroller > 
  div > 
  div.is-compactMode.SpreadsheetGridContents--hasComplete.SpreadsheetGridContents.SpreadsheetPotGridContents > 
  div:nth-child(1) > div > div > div > 
  div:nth-child(2) > div > 
  div.SpreadsheetTaskList.SpreadsheetTaskList--withRowNumbers.SpreadsheetPotGridContents-taskList > 
  div:nth-child(3)
  .SpreadsheetTaskName--childFocused {   
*/
  div.SpreadsheetTaskList > 
  div .SpreadsheetTaskName--childFocused { 
  background-color: blue; 
  color: white;
  border-color: red; 
  border-width: 5px;
}
::selection {
  background: #ff5500;
}
.blinking {

    animation: opacity 5s ease-in-out infinite;
    opacity: 1;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}