/*
.someClass { color: red; }
.SpreadsheetRow--withShadedBackground < div { background-color: yellow; }
.DraggableSpreadsheetTaskRow--withShadedBackground < div { background-color: yellow; }
*/
.SpreadsheetRow--withShadedBackground.DraggableSpreadsheetTaskRow--withShadedBackground > div > div { 
  background-color: #004400;
}
/*  .SpreadsheetTaskName SpreadsheetTaskName--editable SpreadsheetGridTaskNameCell-taskName  */
.SpreadsheetTaskName--childFocused { background-color: #003300; color: white; 
}
::selection {
  background: #ff5500;
}
/*
.SpreadsheetTaskName--childFocused { caret-shape: block; } " // this CSS unsupported in Chrome as of 2022-01-25
*/
.blinking {

    animation: opacity 5s ease-in-out infinite;
    opacity: 1;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

div.HStyle01, textarea.HStyle01 {/*  |1  */
  background-color: white;
  color: black;
}
div.HStyle10, textarea.HStyle10 {/*  FUP  */
  background-color: turquoise;
}
div.HStyle12, textarea.HStyle12 {/*  √  */
  background-color: purple;
  color: white;
}